@using Elegance.Extensions

<CleanTable Items="@(people.AsQueryable())" Hoverable>
	<CleanPropertyColumn Property="@(static (p) => p.Id)" />
	<CleanPropertyColumn Property="@(static (p) => p.FullName)" />
	<CleanPropertyColumn Property="@(static (p) => p.DateOfBirth)" Format="d" />
</CleanTable>

<h3>With striped</h3>

<CleanTable Items="@(people.AsQueryable())" Striped Hoverable>
	<CleanPropertyColumn Property="@(static (p) => p.Id)" />
	<CleanPropertyColumn Property="@(static (p) => p.FullName)" />
	<CleanPropertyColumn Property="@(static (p) => p.DateOfBirth)" Format="d" />
</CleanTable>

@code {

	private readonly Person[] people =
		Enumerable.Range(1, 5)
		          .Select(static (i) => new Person(i, "Person", i.Str(), new DateOnly(Random.Shared.Next(1970, 2011), Random.Shared.Next(1, 13), Random.Shared.Next(1, 20))))
		          .ToArray();

}
