@page "/table"
@using CleanUI.Docs.Components
@using CleanUI.Docs.Interfaces
@implements IExamplePage

<CleanPageTitle>Table</CleanPageTitle>

<h1>Table</h1>

<Example TComponent="@(Basic)" />

<Example TComponent="@(Sizes)" />

<Example TComponent="@(Striped)" />

<Example TComponent="@(Hover)" />

<Example TComponent="@(Bordered)" />

<Example TComponent="@(Borderless)" />

<Example TComponent="@(Responsive)" />

@code {

	public static string Label =>
		"Table";

	public static RenderFragment Icon =>
		Icons.Table;

	public static string Href =>
		"/table";

}
