@using Microsoft.AspNetCore.Components.Routing

<nav class="block-100 body-bg-secondary shadow-sm border-ie p-md">
	<div class="mbe-sm">
		<span class="fs-h1 lh-1">CleanUI</span>
	</div>

	<ul class="list-reset">
		@(Navigation.NavItem("/", "Home", Icons.Home))
	</ul>

	<hr class="mb-sm" />

	<ul class="list-reset">
		@foreach (var page in Navigation.examplePages)
		{
			@(Navigation.NavItem(page.Href, page.Label, page.Icon))
		}
	</ul>
</nav>

@code {

	private static RenderFragment NavItem(string href, string label, RenderFragment icon) =>
		@<li>
			<NavLink Match="@(href == "/" ? NavLinkMatch.All : NavLinkMatch.Prefix)"
			         href="@(href)"
			         class="nav-item d-flex flex-row flex-nowrap align-items-center gap-xs border-radius-md">
				@(icon) @(label)
			</NavLink>
		</li>;

}
