@page "/input"
@using CleanUI.Docs.Components
@using CleanUI.Docs.Interfaces
@implements IExamplePage

<CleanPageTitle>Input</CleanPageTitle>

<h1>Input</h1>

<Example TComponent="@(Text)" />

<Example TComponent="@(Number)" />

<Example TComponent="@(Check)" />

<Example TComponent="@(Switch)" />

<Example TComponent="@(Date)" />

<Example TComponent="@(TextArea)" />

<Example TComponent="@(File)" />

<Example TComponent="@(Radio)" />

<Example TComponent="@(Range)" />

<script>
	function toggleDisabled(id) {
		const element = document.getElementById(id);

		if (!element) {
			return;
		}

		const btn = event.target;
		const btnLabel = btn.querySelector('.btn-label');

		for (const input of element.querySelectorAll('input')) {

			btnLabel.textContent = input.disabled ? 'Disable inputs' : 'Enable inputs';

			input.disabled = !input.disabled
		}
	}
</script>

@code {

	public static string Label =>
		"Input";

	public static RenderFragment Icon =>
		Icons.CursorText;

	public static string Href =>
		"/input";

}
