@using Elegance.Extensions

<button @attributes="@(AdditionalParameters)"
        type="@(AdditionalParameters?.GetString("type") ?? "button")"
        class="btn @(TypeClass) @(SizeClass) @(IconOnly ? "btn-icon" : "") @(AdditionalParameters.GetString("class") ?? "")"
        disabled="@(AdditionalParameters.GetBoolean("disabled") || Loading)"
        aria-busy="@(AdditionalParameters.GetString("aria-busy") ?? Loading.Str())">
	@if (Loading)
	{
		@(LoadingContent ?? Icons.Loader2)
	}
	else
	{
		@(PrefixContent)
	}
	<span>@(ChildContent)</span>
	@(SuffixContent)
</button>
