@using Microsoft.AspNetCore.Components.Forms

<div @attributes="@(AdditionalAttributes)"
     class="input-field @(AdditionalAttributes.GetString("class") ?? "")">
	@if (HideLabel)
	{
		@(ChildContent)
	}
	else
	{
		<label class="@(Inline ? "input-field-content-inline" : "")">
			<span class="input-field-label">@(Label)</span>
			@(ChildContent)
		</label>
	}

	@if (HelpContent is not null)
	{
		<div class="input-field-help">
			@(HelpContent)
		</div>
	}

	@if ((EditContext is not null) && (Property is not null))
	{
		<ValidationMessage For="@(Property)" class="input-field-error" />
	}

	@if (ErrorContent is not null)
	{
		<div class="input-field-error">@(ErrorContent)</div>
	}
</div>
