@using Elegance.Extensions

<dialog @attributes="@(AdditionalParameters)"
        id="@(Id)"
        class="modal @(AdditionalParameters?.GetString("class") ?? "")"
        data-closable="@(Closable.Str())">
	@if (HeaderContent is not null)
	{
		<div class="modal-header">
			@(HeaderContent)
			@if (Closable)
			{
				@(CloseButton)
			}
		</div>
	}
	else if (Title is not null)
	{
		<div class="modal-header">
			<h1>@(Title)</h1>
			@if (Closable)
			{
				@(CloseButton)
			}
		</div>
	}
	else if (Closable)
	{
		<span class="modal-close">@(CloseButton)</span>
	}

	@if (ChildContent is not null)
	{
		<div class="modal-content">
			@(ChildContent)
		</div>
	}

	@if (FooterContent is not null)
	{
		<div class="modal-footer">
			@(FooterContent)
		</div>
	}
</dialog>

@code {

	private RenderFragment CloseButton =>
		@<Button ButtonType="@(ButtonType.Link)" IconOnly onclick="@($"window.Modal.close('{Id}')")">
			@(Icons.X)
		</Button>;

}
