@page "/modal"
@using CleanUI.Docs.Components
@using CleanUI.Docs.Interfaces
@implements IExamplePage

<CleanPageTitle>Modal</CleanPageTitle>

<h1>Modal</h1>

<CleanAlert Type="@(AlertType.Warning)" ShowIcon class="mbe-lg">
	<span class="mis-xs">
		Don't forget to include the <code>modal.js</code> file in your app whenever you want to use modals:
	</span>
	<pre class="mbs-sm mbe-0">
		<code>@("<script src=\"@(Assets[\"_content/CleanUI/modal.js\"])\"></script>")</code>
	</pre>
</CleanAlert>

<Example TComponent="@(Basic)" />

<Example TComponent="@(PreventClosing)" />

<Example TComponent="@(JsRuntime)" />

@code {

	public static string Label =>
		"Modal";

	public static RenderFragment Icon =>
		Icons.AppWindow;

	public static string Href =>
		"/modal";

}
