<CleanButton IconOnly>
	@(Icons.User)
</CleanButton>

<CleanButton ButtonType="@(CleanButtonType.Primary)" IconOnly>
	@(Icons.User)
</CleanButton>

<CleanButton ButtonType="@(CleanButtonType.Secondary)" IconOnly>
	@(Icons.User)
</CleanButton>

<CleanButton ButtonType="@(CleanButtonType.Danger)" IconOnly>
	@(Icons.User)
</CleanButton>

<CleanButton ButtonType="@(CleanButtonType.Link)" IconOnly>
	@(Icons.User)
</CleanButton>

@code {

	public static RenderFragment Description =>
		@<p>Sometimes, you only want to display an icon as your button's content. In this case, you should add the
			<code>IconOnly</code> parameter to make the button scale in size accordingly.</p>;

}
