<Button Icon>
	@(Icons.User)
</Button>

<Button Type="@(ButtonType.Primary)" Icon>
	@(Icons.User)
</Button>

<Button Type="@(ButtonType.Secondary)" Icon>
	@(Icons.User)
</Button>

<Button Type="@(ButtonType.Danger)" Icon>
	@(Icons.User)
</Button>

<Button Type="@(ButtonType.Link)" Icon>
	@(Icons.User)
</Button>

@code {

	public static RenderFragment Description =>
		@<p>Sometimes, you only want to display an icon as your button's content. In this case, you should add the
			<code>Icon</code> parameter to make the button scale in size accordingly.</p>;

}
