@page "/button"
@using CleanUI.Docs.Components
@using CleanUI.Docs.Interfaces
@implements IExamplePage

<CleanPageTitle>Button</CleanPageTitle>

<h1>Button</h1>

<Example TComponent="@(Basic)" />

<Example TComponent="@(Types)" />

<Example TComponent="@(Sizes)" />

<Example TComponent="@(Loading)" />

<Example TComponent="@(IconOnly)" />

@code {

	public static string Label =>
		"Button";

	public static RenderFragment Icon =>
		Icons.Pointer;

	public static string Href =>
		"/button";

}
