<CleanAlert Type="@(AlertType.Info)">
	Hello world!
</CleanAlert>

<CleanAlert Type="@(AlertType.Success)">
	Hello world!
</CleanAlert>

<CleanAlert Type="@(AlertType.Warning)">
	Hello world!
</CleanAlert>

<CleanAlert Type="@(AlertType.Danger)">
	Hello world!
</CleanAlert>

<CleanAlert Type="@(AlertType.Primary)">
	Hello world!
</CleanAlert>

<CleanAlert Type="@(AlertType.Secondary)">
	Hello world!
</CleanAlert>

@code {

	public static RenderFragment Description =>
		@<p>The default type is <code>AlertType.Info</code>.</p>;

}
