@page "/tooltip"
@using CleanUI.Docs.Components
@using CleanUI.Docs.Interfaces
@implements IExamplePage

<CleanPageTitle>Tooltip</CleanPageTitle>

<h1>Tooltip</h1>

<CleanAlert Type="@(CleanAlertType.Warning)" ShowIcon class="mbe-lg">
	<span class="mis-xs">
		Don't forget to include the <code>tooltip.js</code> file in your app whenever you want to use tooltips:
	</span>
	<pre class="mbs-sm mbe-0">
		<code>@("<script src=\"@(Assets[\"_content/CleanUI/tooltip.js\"])\"></script>")</code>
	</pre>
</CleanAlert>


<Example TComponent="@(Basic)" />

<Example TComponent="@(NonButton)" />

<Example TComponent="@(JsRuntime)" />

@code {

	public static string Label =>
		"Tooltip";

	public static RenderFragment Icon =>
		Icons.Tooltip;

	public static string Href =>
		"/tooltip";

}
